.listItem {
  list-style: none;
  margin-bottom: 0.6rem; /* Space between list items */
  position: relative;
}

.programLink {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--color-blanco);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
  text-decoration: none;
  color: var(--color-negro);
  font-family: var(--font-montserrat);
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
  transition: all 0.5s ease-out;
  position: relative; /* For potential future pseudo-elements */
  overflow: hidden; /* Ensures content doesn't spill */
}

.programLink:hover {
  transform: translateX(5px);
  color: var(--color-amarillo-sol);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-left: 5px solid var(--color-amarillo-sol);
}

.programIcon {
  margin-right: 0.75rem;
  color: var(--color-amarillo-sol);
  font-size: 1.8rem; /* Larger icon size */
  flex-shrink: 0; /* Prevent icon from shrinking */
}

/* Responsive adjustments */
@media (min-width: 769px) {
  .listItem {
    margin-bottom: 0.8rem;
  }

  .programLink {
    padding: 1rem;
    font-size: 1.1rem;
  }

  .programIcon {
    font-size: 2rem;
  }
}