.formGroup {
  position: relative;
}

.formInput,
.formSelect {
  font-family: var(--font-montserrat);
  font-size: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  width: 100%;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.formInput:focus,
.formSelect:focus {
  outline: none;
  border-color: var(--color-amarillo-sol);
  box-shadow: 0 0 0 3px rgba(253, 216, 53, 0.4);
}

.formLabel {
  font-family: var(--font-montserrat);
  font-size: 1rem;
  color: #999;
  position: absolute;
  top: 0.85rem;
  left: 0.75rem;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  transform: scale(1);
}

.isFloating .formLabel {
  top: -0.7rem;
  left: 0.5rem;
  font-size: 0.75rem;
  color: var(--color-primary);
  background-color: var(--color-blanco);
  padding: 0 0.25rem;
}

.dateField.isFloating .formLabel {
  color: var(--color-negro);
}

.dateField .formInput {
  color: transparent;
  transition: color 0.3s ease;
}

.dateField .formInput:focus,
.dateField .formInput:valid {
  color: var(--color-negro);
}
