.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  aspect-ratio: 16 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(100, 100, 100, 0.7) 20%, rgba(0,0,0,0) 70%);
  z-index: 1;
}

.card:hover {
  transform: translateY(-5px);
}

.facultyName {
  color: var(--color-blanco);
  font-family: var(--font-montserrat);
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  position: relative;
  z-index: 2;
  padding: 1rem;
  text-shadow: 2px 1.5px 0px black;
}

@media (min-width: 769px) {
  .card {
    min-height: 150px;
  }

  .facultyName {
    font-size: 2rem;
  }
}
